<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "erreur") %> ont empêché l'enregistrement de cet utilisateur:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :firstname, "Prénom" %>
    <%= form.text_field :firstname, required: true %>
    </div>

    <div class="field">
    <%= form.label :lastname, "Nom" %>
    <%= form.text_field :lastname, required: true %>
    </div>

  <div class="field">
    <%= form.label :email, "Email" %>
    <%= form.email_field :email, required: true %>
  </div>

  <div class="field">
    <%= form.label :phone, "Téléphone" %>
    <%= form.telephone_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>