<!DOCTYPE html>
<html>
  <head>
    <title>Library Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%# Commentez temporairement la ligne JavaScript jusqu'à ce que vous le configuriez %>
    <%#= javascript_include_tag "application" %>
  </head>

  <body>
    <header class="main-header">
      <div class="container">
        <h1 class="site-title">Bibliothèque</h1>
        <nav class="main-nav">
          <ul>
            <li><%= link_to "Accueil", root_path %></li>
            <li><%= link_to "Livres", books_path %></li>
            <li><%= link_to "Utilisateurs", users_path %></li>
            <li><%= link_to "Emprunts", loans_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="container">
      <% if notice %>
        <div class="flash notice">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="flash alert">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="main-footer">
      <div class="container">
        <p>&copy; <%= Date.today.year %> / Gestion de Bibliothèque / JCK </p>
      </div>
    </footer>
  </body>
</html>